* { box-sizing: border-box; }

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	min-height: 1200px;
	/*background: linear-gradient(to left, #00C1B6 , #0496BF);*/
}


nav {
	height: 6px;
	background: linear-gradient(to left, #00C1B6 , #0496BF);
}

.hero-title {
	margin: 7.2vh auto 4vh;
}

.filters {
	margin: auto;
	max-width: 100%;
	display: table;
}

h1 {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	font-weight: 300;
	font-size: 40px;
	color: #000;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
	font-weight: 400;
	font-size: 17px;
	color: #777;
}

/* ---- filter buttons ---- */

.button {
	display: inline-block;
	padding: 0.5em 1em;
	background: #efefef;
	border: none;
	border-radius: 50px;
	color: #333;
	font-family: sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;

}

.button:hover {
	text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
	color: #222;
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

.button:active,
.button.is-checked {
	background-color: #04a7d5;
}

.button.is-checked {
	color: white;
	text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
	box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.4);
}

/* ---- filter button-group ---- */

.button-group:after {
	content: '';
	display: block;
	clear: both;
}

.button-group .button {
	margin-right: 1px;
	outline-color: transparent;
	outline-style: none;
}



/* ---- isotope ---- */

.grid {
	margin: auto;
	max-width: 1200px;
}

/* clear fix */
.grid:after {
	content: '';
	display: block;
	clear: both;
}

/* ui group */

.ui-group {
	max-width: 500px;
	display: inline-block;
}

.ui-group h3 {
	vertical-align: top;
	line-height: 24px;
	font-size: 16px;
}

.ui-group .button-group {
	display: inline-block;
	text-align: center;
	padding-top: 5px;
}
 

/*lead cards*/

.product-card {
		position: relative;
		margin: 20px 20px;
		padding: 20px;
		border-radius: 5px !important;
		height: 240px !important;
		background: #ffffff !important;
		-webkit-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.25);
		-moz-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.25);
		box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.25);
		border: 1px solid #e2e2e2;
		color: #4a4a4a;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 350px !important;
		float: left;
		cursor: pointer;
}

.product-card:hover {
		-webkit-transition: all 0.1s ease;
		-moz-transition: all 0.1s ease;
		-ms-transition: all 0.1s ease;
		-o-transition: all 0.1s ease;
		transition: all 0.1s ease;  
		-webkit-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.5);
		-moz-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.5);
		box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.5);
		border: 1px solid rgba(0, 0, 0, 0.25);
		-moz-transform: scale(1.01);
		-ms-transform: scale(1.01);
		-webkit-transform: scale(1.01);
		transform: scale(1.01);
}

.brand {
		margin-bottom: 20px;
		min-height: 60px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
}

.brand-logo {
		padding-top: 8px;
		max-height: 60px;
		max-width: 200px;
}

.brand-name {
	font-weight: bold;
}

.brand-name:after {
	content: ": ";
}


/*type tags*/

.type {
	background: #f2f2f2;
	color:#777 !important;
}

/*end type tags*/

/*pricing tags*/

.tags {
	margin-bottom: 25px;
}

.tag {
		position: relative;
		display: inline-block;
		padding: 5px 12px;
		margin: 3px;
		border-radius: 15px;
		line-height: 19px;
		color: white;
		transition: transform .1s linear;
}

span.tag.price1 {background: #00BCD4;}

span.tag.price2 {background: #8BC34A;}

span.tag.price3 {background: #673AB7;}

span.tag.price4 {background: #FF9800;}

span.tag.price5 {background: #E91E63;}
/*end pricing tags*/




.product-header {
	display: inline-block;
	margin-bottom: 25px;
	font-size: 2.33rem;
	border-bottom: 3px solid;
	font-weight: bold;
}
		

.product-card .pad {
		position: absolute;
		width: 100%;
		height: 80px;
		bottom: 0px;
		left: 0px;
		background-image: linear-gradient( 180deg, rgba(255, 255, 255, 0) 00%, #FFFFFF 85% );
}

a {
	color: #673AB7;
}

a:focus, a:hover {
	outline-color: transparent;
	outline-style: none;
	text-decoration: none;
	color: #9575CD;
}

.product-img {
	max-width: 100%;
	margin-bottom: 10px;
	position: relative;
	border-bottom: 2px solid #e4e4e4;
}

.product-img img {
	max-width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.product-img:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: none;
	background: linear-gradient(rgba(255, 255, 255, 0) 80%,rgba(0, 0, 0, 0.1));
	/*background: -webkit-radial-gradient(white, black); *//* Safari 5.1 to 6.0 */
	/*background: -o-radial-gradient(white, black); *//* For Opera 11.6 to 12.0 */
	/*background: -moz-radial-gradient(white, black); *//* For Firefox 3.6 to 15 */
	/*background: radial-gradient(rgba(255, 255, 255, 0), black);*/ /* Standard syntax */	
}

.btn-default, .btn-default:focus, .btn-default:active, .btn:active:focus {
	background: #1abc9c;
	border: none;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	padding: 10px 26px;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;  
	outline-color:transparent;
	outline-style: none;
	text-decoration: none;
}

.btn-default:hover {
	background: #1abc9c;
	color: #fff;
	-webkit-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.2);
	-moz-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.2);
	box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.2);
	-moz-transform: scale(1.01);
	-ms-transform: scale(1.01);
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
}

.modal-dialog {
	margin-top: 50px;
}

.modal-header { border-bottom: none; }

.modal-footer { 
	border-top: none; 
	text-align: left;
	padding: 0 15px 40px 15px;
}

.tooltips {
    position: relative;
    border-bottom: 1px dotted black;
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
}

.tooltips .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 16px 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -90px;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
}

.tooltips .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltips:hover .tooltiptext {
    visibility: visible;
}

.info-mark {
	background: #ddd;
    width: 24px;
    text-align: center;
    color: #aaa;
    font-size: 12px;
    border-radius: 20px;
}

a {
	text-decoration: none;
}