* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  /*background: linear-gradient(to left, #00C1B6 , #0496BF);*/

}

.filters {
  margin: auto;
  max-width: 100%;
  display: table;
}

h1 {
  /*color: #fff;*/
  text-align: center;
  font-weight: 100;
  font-size: 40px;
}

h3 {
  /*color: #fff;*/
  text-align: center;
}

h4 {
  /*color: #fff;*/
  text-align: center;
}

/* ---- filter buttons ---- */

.button {
  display: inline-block;
  padding: 0.5em 1em;
  background: #efefef;
  border: none;
  border-radius: 50px;
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
}

.button:hover {
  background-color: #fff;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #04a7d5;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- filter button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  /*float: left;*/
  /*border-radius: 0;*/
  /*margin-left: 0;*/
  /*margin-right: -1px;*/
  outline-color: transparent;
  outline-style: none;
}

/*.button-group .button:first-child { border-radius: 0.25em 0 0 0.25em; }
.button-group .button:last-child { border-radius: 0 0.25em 0.25em 0; }*/

/* ---- isotope ---- */

.grid {
  margin: auto;
  max-width: 1200px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ui group */

.ui-group {
  max-width: 500px;
  display: inline-block;
}

.ui-group h3 {
  /*display: inline-block;*/
  vertical-align: top;
  line-height: 32px;
  margin-right: 0.2em;
  font-size: 16px;
}

.ui-group .button-group {
  display: inline-block;
  text-align: center;
}
 

/*lead cards*/

.lead-card {
    position: relative;
    margin: 10px 25px;
    padding: 20px;
    border-radius: 5px !important;
    height: 220px !important;
    background: #ffffff !important;
    -webkit-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.25);
    -moz-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.25);
    box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.25);
    border: 1px solid #e2e2e2;
    color: #4a4a4a;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 350px !important;
    float: left;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.lead-card:hover {
    -webkit-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.7);
    -moz-box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.7);
    box-shadow: 2px 2px 10px rgba(72, 72, 72, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.25);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.brand {
    margin-bottom: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.brand-logo {
    max-height: 60px;
    max-width: 260px;
}


/*type tags*/

.type {
  background: #f2f2f2;
  color:#777 !important;
}

/*end type tags*/

/*pricing tags*/

.tags {
  margin-bottom: 25px;
}

.tag {
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    margin: 3px;
    border-radius: 15px;
    line-height: 19px;
    color: white;
    transition: transform .1s linear;
}

span.tag.price1 { background: #BBDEFB; }

span.tag.price2 { background: #64B5F6; }

span.tag.price3 { background: #2196F3; }

span.tag.price4 { background: #1976D2; }

span.tag.price5 { background: #0D47A1; }
/*end pricing tags*/




.product-header {
  display: inline-block;
  margin-bottom: 25px;
  font-size: 2.33rem;
  border-bottom: 3px solid;
  font-weight: bold;
}
    

.lead-card .pad {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0px;
    left: 0px;
    background-image: linear-gradient( 180deg, rgba(255, 255, 255, 0) 00%, #FFFFFF 70% );
}

a {
  color: #04a7d5;
}

a:hover {
  text-decoration: none;
}

.product-img {
  max-width: 100%;
  margin-bottom: 10px;
}

.btn-primary {
  background: #04a7d5;
  font-weight: bold;
}

.modal-header { border-bottom: none; }

.modal-footer { 
  border-top: none; 
  text-align: left;
  padding: 0 15px 40px 15px;
}